In [1]:
import pandas as pd
from db.data import Data
from math import cos, sin, asin, sqrt, pi, atan2, radians
data = Data()

In [2]:
df_crime = pd.read_csv('db/filter_data/crime.csv')
df_demand = data.get_demand()

In [3]:
df_crime

,INCIDENT_TYPE,HUNDRED_BLOCK,MONTH,YEAR,FILE_NUMBER,lon,lat
0,Break and Enter - Business,11000 124TH ST,1,2020,20-680,-122.878468,49.202197
1,Break and Enter - Business,13900 104TH AVE,1,2020,20-1128,-122.836933,49.191220
2,Break and Enter - Business,11100 SCOTT RD,1,2020,20-1173,-122.877527,49.203288
3,Break and Enter - Business,10500 UNIVERSITY DR,1,2020,20-1191,-122.850623,49.193487
4,Break and Enter - Business,10400 138TH ST,1,2020,20-1298,-122.837520,49.150378
...,...,...,...,...,...,...,...
16742,Fatal/Injury Collision,152ND ST / 20TH AVE,12,2020,20-194236,-122.801149,49.038372
16743,Fatal/Injury Collision,2200 160TH ST,12,2020,20-195879,-122.778445,49.042047
16744,Fatal/Injury Collision,13900 16TH AVE,12,2020,20-197230,-122.837383,49.031155
16745,Fatal/Injury Collision,1700 KING GEORGE BLVD,12,2020,20-197622,-122.777242,49.032925
16746,Fatal/Injury Collision,152ND ST / 24TH AVE,11,2020,20-176765,-122.801149,49.045672

In [5]:
set(df_crime['INCIDENT_TYPE'])

{'Break and Enter - Business',
 'Break and Enter - Residence',
 'Fatal/Injury Collision',
 'Graffiti',
 'Shoplifting',
 'Theft from Motor Vehicle',
 'Theft of Motor Vehicle'}

In [3]:
df_crime[['lat','lon']] = df_crime[['lat','lon']].astype(float)

In [4]:
len(df_crime[df_crime['INCIDENT_TYPE'] == 'Fatal/Injury Collision'])

5068

In [5]:
set(df_crime['INCIDENT_TYPE'])

{'Break and Enter - Business',
 'Break and Enter - Residence',
 'Fatal/Injury Collision',
 'Graffiti',
 'Shoplifting',
 'Theft from Motor Vehicle',
 'Theft of Motor Vehicle'}

In [6]:
df_crime

,INCIDENT_TYPE,HUNDRED_BLOCK,MONTH,YEAR,FILE_NUMBER,lon,lat
0,Break and Enter - Business,11000 124TH ST,1,2020,20-680,-122.878468,49.202197
1,Break and Enter - Business,13900 104TH AVE,1,2020,20-1128,-122.836933,49.191220
2,Break and Enter - Business,11100 SCOTT RD,1,2020,20-1173,-122.877527,49.203288
3,Break and Enter - Business,10500 UNIVERSITY DR,1,2020,20-1191,-122.850623,49.193487
4,Break and Enter - Business,10400 138TH ST,1,2020,20-1298,-122.837520,49.150378
...,...,...,...,...,...,...,...
16742,Fatal/Injury Collision,152ND ST / 20TH AVE,12,2020,20-194236,-122.801149,49.038372
16743,Fatal/Injury Collision,2200 160TH ST,12,2020,20-195879,-122.778445,49.042047
16744,Fatal/Injury Collision,13900 16TH AVE,12,2020,20-197230,-122.837383,49.031155
16745,Fatal/Injury Collision,1700 KING GEORGE BLVD,12,2020,20-197622,-122.777242,49.032925
16746,Fatal/Injury Collision,152ND ST / 24TH AVE,11,2020,20-176765,-122.801149,49.045672

In [7]:
def hav_distance(lat1, lon1, lat2, lon2):
        #Taken from https://stackoverflow.com/a/4913653
        """
        Calculate the great circle distance between two points 
        on the earth (specified in decimal degrees)
        """
        # convert decimal degrees to radians 
        lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

        # haversine formula 
        dlon = lon2 - lon1 
        dlat = lat2 - lat1 
        a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
        c = 2 * asin(sqrt(a)) 
        r = 63710 # Radius of earth in km
        return c * r

In [8]:
first = df_crime.iloc[0]

In [9]:
type(first.lat)

numpy.float64

In [10]:
def get_demand(lat,lon,demand_points):  
    df = demand_points
    df['distances'] = demand_points.apply(lambda x: hav_distance(lat,lon,x['lat'],x['lon']), axis=1)
    min_dist = min(df['distances'])
    res = df[df['distances'] == min_dist].values[0][0]
    return res, min_dist

In [11]:
df_crime

,INCIDENT_TYPE,HUNDRED_BLOCK,MONTH,YEAR,FILE_NUMBER,lon,lat
0,Break and Enter - Business,11000 124TH ST,1,2020,20-680,-122.878468,49.202197
1,Break and Enter - Business,13900 104TH AVE,1,2020,20-1128,-122.836933,49.191220
2,Break and Enter - Business,11100 SCOTT RD,1,2020,20-1173,-122.877527,49.203288
3,Break and Enter - Business,10500 UNIVERSITY DR,1,2020,20-1191,-122.850623,49.193487
4,Break and Enter - Business,10400 138TH ST,1,2020,20-1298,-122.837520,49.150378
...,...,...,...,...,...,...,...
16742,Fatal/Injury Collision,152ND ST / 20TH AVE,12,2020,20-194236,-122.801149,49.038372
16743,Fatal/Injury Collision,2200 160TH ST,12,2020,20-195879,-122.778445,49.042047
16744,Fatal/Injury Collision,13900 16TH AVE,12,2020,20-197230,-122.837383,49.031155
16745,Fatal/Injury Collision,1700 KING GEORGE BLVD,12,2020,20-197622,-122.777242,49.032925
16746,Fatal/Injury Collision,152ND ST / 24TH AVE,11,2020,20-176765,-122.801149,49.045672

In [12]:
df_crime.head()

,INCIDENT_TYPE,HUNDRED_BLOCK,MONTH,YEAR,FILE_NUMBER,lon,lat
0,Break and Enter - Business,11000 124TH ST,1,2020,20-680,-122.878468,49.202197
1,Break and Enter - Business,13900 104TH AVE,1,2020,20-1128,-122.836933,49.191220
2,Break and Enter - Business,11100 SCOTT RD,1,2020,20-1173,-122.877527,49.203288
3,Break and Enter - Business,10500 UNIVERSITY DR,1,2020,20-1191,-122.850623,49.193487
4,Break and Enter - Business,10400 138TH ST,1,2020,20-1298,-122.837520,49.150378

In [13]:
points = df_crime.apply(lambda x: get_demand(x['lat'],x['lon'],df_demand),axis=1)

In [14]:
points = points.apply(pd.Series)

In [15]:
df_crime['demand_point'] =  points[0].astype(int)
df_crime['distance'] = points[1]
df_crime.head()

,INCIDENT_TYPE,HUNDRED_BLOCK,MONTH,YEAR,FILE_NUMBER,lon,lat,demand_point,distance
0,Break and Enter - Business,11000 124TH ST,1,2020,20-680,-122.878468,49.202197,59152187,1.519689
1,Break and Enter - Business,13900 104TH AVE,1,2020,20-1128,-122.836933,49.191220,59152204,1.724349
2,Break and Enter - Business,11100 SCOTT RD,1,2020,20-1173,-122.877527,49.203288,59152187,2.838619
3,Break and Enter - Business,10500 UNIVERSITY DR,1,2020,20-1191,-122.850623,49.193487,59153386,1.849879
4,Break and Enter - Business,10400 138TH ST,1,2020,20-1298,-122.837520,49.150378,59151980,3.695559

In [16]:
max_dist = max(df_crime['distance'])

In [17]:
mylist = list(df_crime['distance'])
mylist.sort(reverse=True)

In [18]:
mylist

[13389.696971025991,
 2092.2268084572233,
 2092.2268084572233,
 2092.2268084572233,
 2057.549828437061,
 2057.549828437061,
 2057.549828437061,
 2057.549828437061,
 2057.549828437061,
 1748.2548689486764,
 1748.2548689486764,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 717.6751074865897,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 653.9230165185563,
 571.7993889009481,
 570.8985658416011,
 567.5664767896952,
 138.10568854270576,
 24.31508110219355,
 23.892285181200705,
 23.892285181200705,
 23.37379969111274,
 23.37379969111274,
 22.769873983919325,
 22.239339302032803,
 22.239339302032803,
 22.11033798599994,
 21.111723552979942,
 20.538548786254637,
 19.803655744254485,
 19.55735733726194,
 19.55735733726194,
 19.55735733726194,
 19.55735733726194,
 19.55735733726194,
 19.55735733726194,
 19.15679741774824,
 18.963207142647075,
 18.963207142647075,
 18.923793697410485,
 18.923793697410485,
 18.923793697410485,
 18.87190942872731,
 18.771039311553867,
 18.771039311553867,
 18.661662899752045,
 18.648719472587548,
 18.548479964910854,
 18.172311454359924,
 18.110024684610575,
 17.812597206873605,
 17.812597206873605,
 17.58975606353999,
 17.58975606353999,
 17.58975606353999,
 17.58975606353999,
 17.58975606353999,
 17.58975606353999,
 17.572656794518146,
 17.47278731613254,
 17.47278731613254,
 17.366551516786284,
 17.341021469326293,
 17.28796123187709,
 17.285676337129665,
 17.285676337129665,
 17.285676337129665,
 17.163549257796205,
 17.163549257796205,
 17.163549257796205,
 17.14094430079132,
 17.14094430079132,
 17.14094430079132,
 17.14094430079132,
 17.14094430079132,
 17.010509091450174,
 17.010509091450174,
 17.010509091450174,
 17.010509091450174,
 16.913220495194278,
 16.72746486460778,
 16.55901244866985,
 16.55901244866985,
 16.55901244866985,
 16.29557362178961,
 16.29557362178961,
 16.293288685898535,
 16.293288685898535,
 16.293288685898535,
 16.293288685898535,
 16.293288685898535,
 16.293288685898535,
 16.281495886190424,
 16.281495886190424,
 16.164444634000297,
 16.164444634000297,
 16.164444634000297,
 16.164444634000297,
 16.164444634000297,
 16.05877300312222,
 16.020472710304393,
 16.020472710304393,
 16.020472710304393,
 15.970649445748691,
 15.92272555646604,
 15.92272555646604,
 15.92272555646604,
 15.92272555646604,
 15.77372438485672,
 15.77372438485672,
 15.77372438485672,
 15.77372438485672,
 15.56367993580049,
 15.52139522894256,
 15.52139522894256,
 15.508460243298732,
 15.508460243298732,
 15.508460243298732,
 15.508460243298732,
 15.508460243298732,
 15.461478658897404,
 15.461478658897404,
 15.461478658897404,
 15.461478658897404,
 15.461478658897404,
 15.438209077984911,
 15.425368097043332,
 15.425368097043332,
 15.425368097043332,
 15.32151852484718,
 15.307376784899107,
 15.307376784899107,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.191630477726518,
 15.13501084424306,
 15.13501084424306,
 15.13501084424306,
 15.13501084424306,
 15.13501084424306,
 15.13501084424306,
 15.13501084424306,
 15.13501084424306,
 15.016637774551405,
 15.016637774551405,
 15.016637774551405,
 15.00512226132372,
 14.888069591947065,
 14.447683446062404,
 14.447683446062404,
 14.390215101524356,
 14.390215101524356,
 14.296077130109806,
 14.296077130109806,
 14.274201253357427,
 14.248231423977618,
 14.248231423977618,
 14.248231423977618,
 14.242752724785095,
 14.22618717301266,
 14.22618717301266,
 14.22618717301266,
 14.22618717301266,
 14.22618717301266,
 14.22618717301266,
 14.22618717301266,
 14.138385107049107,
 14.066062255973172,
 13.958752222384582,
 13.958752222384582,
 13.941994589418956,
 13.929335534015356,
 13.929335534015356,
 13.929335534015356,
 13.929335534015356,
 13.891297784873716,
 13.788932361280601,
 13.715743323797353,
 13.715743323797353,
 13.715743323797353,
 13.715743323797353,
 13.715743323797353,
 13.715743323797353,
 13.715743323797353,
 13.715743323797353,
 13.715743323797353,
 13.62300552039556,
 13.62300552039556,
 13.601938633546329,
 13.601938633546329,
 13.601938633546329,
 13.571117029737618,
 13.571117029737618,
 13.537421508288313,
 13.403230973431649,
 13.403230973431649,
 13.31854767042908,
 13.31854767042908,
 13.31854767042908,
 13.31854767042908,
 13.285375769319906,
 13.285375769319906,
 13.285375769319906,
 13.281579542577626,
 13.209126156951601,
 13.209126156951601,
 13.209126156951601,
 13.084403554377435,
 13.057323921689374,
 13.057323921689374,
 13.057323921689374,
 13.057323921689374,
 13.057323921689374,
 13.01941109840044,
 13.01941109840044,
 13.01941109840044,
 12.970076897461045,
 12.970076897461045,
 12.970076897461045,
 12.970076897461045,
 12.970076897461045,
 12.970076897461045,
 12.970076897461045,
 12.970076897461045,
 12.926837615305864,
 12.926837615305864,
 12.904505842679983,
 12.892252735691148,
 12.892252735691148,
 12.860949056984163,
 12.796537521597259,
 12.772192414350663,
 12.718039492538026,
 12.67756338901047,
 12.67756338901047,
 12.67756338901047,
 12.67756338901047,
 12.67756338901047,
 12.602384491394073,
 12.253329877778558,
 12.253329877778558,
 12.219776673682356,
 12.169304232398474,
 12.169304232398474,
 12.169304232398474,
 12.063068621806385,
 12.063068621806385,
 12.057674457634281,
 12.057674457634281,
 12.04360427791642,
 12.04360427791642,
 12.022878132539685,
 12.001296344953436,
 11.958562031716225,
 11.914577098981004,
 11.907597720420826,
 11.907597720420826,
 11.907597720420826,
 11.906605122110639,
 11.857523782534663,
 11.83151592426714,
 11.83151592426714,
 11.83151592426714,
 11.83151592426714,
 11.829457476947693,
 11.816056689190113,
 11.783269757711619,
 11.783269757711619,
 11.781345933174164,
 11.745057599306705,
 11.745057599306705,
 11.745057599306705,
 11.744784793002179,
 11.744784793002179,
 11.740376402973649,
 11.738610944266533,
 11.728669463750967,
 11.728669463750967,
 11.728669463750967,
 11.682166676761968,
 11.681710179989935,
 11.679873119601131,
 11.679873119601131,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.658128788425822,
 11.652517652428672,
 11.652517652428672,
 11.635544553999502,
 11.635544553999502,
 11.635544553999502,
 11.635544553999502,
 11.635544553999502,
 11.591451054069843,
 11.591451054069843,
 11.537876454696057,
 11.469684606977737,
 11.461139509181617,
 11.461139509181617,
 11.461139509181617,
 11.402375681200308,
 11.402375681200308,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.385732844521314,
 11.379568536909776,
 11.379438757983449,
 11.379438757983449,
 11.367085960696576,
 11.367085960696576,
 11.350567066042126,
 11.350567066042126,
 11.260715905801428,
 11.260715905801428,
 11.260715905801428,
 11.260715905801428,
 11.260715905801428,
 11.260715905801428,
 11.227549047692763,
 11.08232814951083,
 11.075345533054676,
 11.075345533054676,
 11.045642019054398,
 11.023648379617542,
 11.023648379617542,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 11.019943579085618,
 10.99017157490855,
 10.908391272737626,
 10.898731994010651,
 10.871341288188145,
 10.811264228626689,
 10.811264228626689,
 10.811264228626689,
 10.811264228626689,
 10.811264228626689,
 10.810105925927234,
 10.743658071553854,
 10.733085297556325,
 10.665328923766477,
 10.597947114441572,
 10.594426362812362,
 10.594426362812362,
 10.594426362812362,
 10.570823551620387,
 10.480772024802068,
 10.480772024802068,
 10.480772024802068,
 10.455551420355109,
 10.40559680422097,
 10.398473708054228,
 10.398473708054228,
 10.396614513743515,
 10.396614513743515,
 10.396614513743515,
 10.396614513743515,
 10.393937402404067,
 10.393937402404067,
 10.376737631702017,
 10.33844526343813,
 10.32286526378764,
 10.32286526378764,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.264574977221809,
 10.26313834682628,
 10.228390209558633,
 10.207656455717009,
 10.188448702503418,
 10.160480462093018,
 10.153572220400676,
 10.150986935792321,
 10.12761747484645,
 10.12761747484645,
 10.12761747484645,
 10.12761747484645,
 10.099628777584096,
 10.099628777584096,
 10.099628777584096,
 10.064460767634477,
 10.064460767634477,
 10.02323962604314,
 10.0216571940652,
 10.0216571940652,
 10.01825787634944,
 10.01825787634944,
 10.01825787634944,
 10.01825787634944,
 9.979779311902917,
 9.918474803858043,
 9.918474803858043,
 9.918474803858043,
 9.918474803858043,
 9.908364079083455,
 9.891139943753712,
 9.863688415512112,
 9.863688415512112,
 9.863688415512112,
 9.860861487542477,
 9.860861487542477,
 9.860861487542477,
 9.860861487542477,
 9.860861487542477,
 9.860861487542477,
 9.860861487542477,
 9.834691954810896,
 9.814170457158037,
 9.80830275400522,
 9.807921473026749,
 9.807921473026749,
 9.807921473026749,
 9.80009765896919,
 9.80009765896919,
 9.80009765896919,
 9.80009765896919,
 9.80009765896919,
 9.80009765896919,
 9.79723267390862,
 9.786544844400616,
 9.759826929104356,
 9.749840758456164,
 9.749840758456164,
 9.734673848452086,
 9.67900448725309,
 9.676959907236961,
 9.676959907236961,
 9.676959907236961,
 9.666795151816281,
 9.666795151816281,
 9.618442777858924,
 9.618442777858924,
 9.596915661771542,
 9.596915661771542,
 9.566122490973987,
 9.566122490973987,
 9.566122490973987,
 9.554664899878256,
 9.533258550522579,
 9.48434928398181,
 9.48434928398181,
 9.41304265604694,
 9.41304265604694,
 9.405084163608743,
 9.405084163608743,
 9.383285284805243,
 9.382006301045317,
 9.37930250142302,
 9.365895376136587,
 9.365895376136587,
 9.365895376136587,
 9.360048326829764,
 9.345072374095652,
 9.319220686836305,
 9.319220686836305,
 9.319220686836305,
 9.319220686836305,
 9.319220686836305,
 9.319220686836305,
 9.319220686836305,
 9.23407536407082,
 9.205694176740948,
 9.205694176740948,
 9.191284498892818,
 9.191284498892818,
 9.191284498892818,
 9.191284498892818,
 9.167369685488817,
 9.147759993533743,
 9.110635807693122,
 9.086493551715419,
 9.047371834743663,
 9.047371834743663,
 9.047371834743663,
 9.047371834743663,
 9.047371834743663,
 9.047371834743663,
 9.011961528984703,
 9.001257986692275,
 9.001257986692275,
 8.9702549702149,
 8.967442966525565,
 8.902815754509534,
 8.902815754509534,
 8.850256792515422,
 8.819402650655082,
 8.810285297004993,
 8.765792646633791,
 8.704158292570384,
 8.704158292570384,
 8.684924215972467,
 8.684924215972467,
 8.684924215972467,
 8.684924215972467,
 8.679961875410415,
 8.679961875410415,
 8.661549264165185,
 8.661549264165185,
 8.61960874907774,
 8.61960874907774,
 8.543522309187031,
 8.543522309187031,
 8.501257264837138,
 8.501257264837138,
 8.501257264837138,
 8.457417146413974,
 8.439571950713097,
 8.439571950713097,
 8.439571950713097,
 8.439571950713097,
 8.439571950713097,
 8.439571950713097,
 8.426309892036326,
 8.426309892036326,
 8.426309892036326,
 8.417793174138856,
 8.417793174138856,
 8.372907526655492,
 8.332651391597084,
 8.332651391597084,
 8.310651728029047,
 8.267166388868455,
 8.251758934264558,
 8.251758934264558,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.22884567522292,
 8.208824592975091,
 8.183598895389757,
 8.183598895389757,
 8.177232215887395,
 8.177232215887395,
 8.159659213208151,
 8.154179291693799,
 8.154179291693799,
 8.154179291693799,
 8.154179291693799,
 8.154179291693799,
 8.154179291693799,
 8.153096106462028,
 8.153096106462028,
 8.153096106462028,
 8.153096106462028,
 8.147271793181929,
 8.147271793181929,
 8.147271793181929,
 8.13654445553025,
 8.135946753742044,
 8.135946753742044,
 8.135946753742044,
 8.135946753742044,
 8.135946753742044,
 8.135946753742044,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.133924055280549,
 8.097161171328844,
 8.097161171328844,
 8.087673119601792,
 8.087673119601792,
 8.087673119601792,
 8.087673119601792,
 8.087673119601792,
 8.082592069969674,
 8.082592069969674,
 7.991343671760415,
 7.961402773207753,
 7.961402773207753,
 7.956779480536338,
 7.956779480536338,
 7.956779480536338,
 7.922874836996844,
 7.922874836996844,
 7.922874836996844,
 7.914173352796017,
 7.910164536596306,
 7.89908232421868,
 7.89908232421868,
 7.89908232421868,
 7.89908232421868,
 7.89908232421868,
 7.89908232421868,
 7.89908232421868,
 7.89908232421868,
 7.89908232421868,
 7.8782178455586305,
 7.8782178455586305,
 7.871543542586542,
 7.871543542586542,
 7.871543542586542,
 7.77789130831512,
 7.764487691320674,
 7.761868646130944,
 7.7339643972759085,
 7.7339643972759085,
 7.7339643972759085,
 7.7339643972759085,
 7.7339643972759085,
 7.7339643972759085,
 7.732465639791142,
 7.732465639791142,
 7.71422089972232,
 7.69553464708423,
 7.667538891066003,
 7.660433297879333,
 7.660433297879333,
 7.647278301615458,
 7.6316143382639385,
 7.6316143382639385,
 7.6316143382639385,
 7.613168421512016,
 7.601828086399166,
 7.601828086399166,
 7.601828086399166,
 7.596480265104005,
 7.596480265104005,
 7.596480265104005,
 7.596480265104005,
 7.596480265104005,
 7.596480265104005,
 7.596480265104005,
 7.596480265104005,
 7.587681016729589,
 7.587681016729589,
 7.587681016729589,
 7.587681016729589,
 7.576220349424017,
 7.576220349424017,
 7.576220349424017,
 7.576220349424017,
 7.565093454524677,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.550361504572559,
 7.549684272306,
 7.532176639372281,
 7.52018142434527,
 7.5191899743400565,
 7.508717771578987,
 7.508717771578987,
 7.50375617126032,
 7.50375617126032,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.497489648203922,
 7.496496307054077,
 7.496496307054077,
 7.496496307054077,
 7.495918417639674,
 7.491040051923224,
 7.487141416166127,
 7.484429160205616,
 7.484429160205616,
 7.484429160205616,
 7.484429160205616,
 7.482589946076514,
 7.457225042365447,
 7.457225042365447,
 7.457225042365447,
 7.4384308580058764,
 7.4384308580058764,
 7.4384308580058764,
 7.4384308580058764,
 7.436083308345367,
 7.4152203329407484,
 7.414117285394988,
 7.411667947329996,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.3949855492520875,
 7.391823772299864,
 7.391823772299864,
 7.391823772299864,
 7.3846351637375,
 7.3846351637375,
 7.342897667919277,
 7.307181183381392,
 7.307181183381392,
 7.307181183381392,
 7.307181183381392,
 7.307181183381392,
 7.307181183381392,
 7.300702369365405,
 7.300702369365405,
 7.300702369365405,
 7.279725892725213,
 7.273958662943522,
 7.273958662943522,
 7.273958662943522,
 7.273958662943522,
 7.273958662943522,
 7.268398912683573,
 7.268398912683573,
 7.268398912683573,
 7.268398912683573,
 7.247202505803361,
 7.2226239899934495,
 7.219740933675857,
 7.197506267834874,
 7.191538833639933,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.173642055648745,
 7.169756316583523,
 7.169147490975116,
 7.169147490975116,
 7.167243705704524,
 7.160982813600961,
 7.154739024762154,
 7.154739024762154,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.154449371520184,
 7.139030940086302,
 7.1338443729064265,
 7.1338443729064265,
 7.132580522662049,
 7.124084926635745,
 7.09867469678177,
 7.069056533666391,
 7.060405008992671,
 7.060405008992671,
 7.060405008992671,
 7.060405008992671,
 7.059980220090439,
 7.059980220090439,
 7.049533419472518,
 7.044151377405937,
 7.044151377405937,
 7.044151377405937,
 7.044151377405937,
 7.044151377405937,
 7.044151377405937,
 7.037538938864186,
 7.033934554357617,
 7.033934554357617,
 7.033934554357617,
 7.033934554357617,
 7.032469460232914,
 7.032469460232914,
 7.011518514063716,
 7.011518514063716,
 7.011518514063716,
 6.995916367413678,
 6.995916367413678,
 6.971397556802066,
 6.971397556802066,
 6.971397556802066,
 6.955171538395725,
 6.955171538395725,
 6.944737796871031,
 6.944737796871031,
 6.9442499975900835,
 6.909855200442446,
 6.909810714643554,
 6.909810714643554,
 6.902420652843131,
 6.902420652843131,
 6.902420652843131,
 6.902420652843131,
 6.892114284240104,
 6.887828302435661,
 6.887828302435661,
 6.887828302435661,
 6.887828302435661,
 6.887828302435661,
 6.879877994350358,
 6.879877994350358,
 6.879877994350358,
 6.862096056520415,
 6.850433547077434,
 6.84651044726393,
 6.84651044726393,
 6.802112159630085,
 6.802112159630085,
 6.8008302793783235,
 6.798817323445298,
 6.798817323445298,
 6.794010904330954,
 6.794010904330954,
 6.794010904330954,
 6.783293935276841,
 6.783293935276841,
 6.761673491035743,
 6.7465128403105625,
 6.7465128403105625,
 6.71951659775692,
 6.71951659775692,
 6.71951659775692,
 6.679946056440936,
 6.670140616179733,
 6.665057028666102,
 6.655559218419333,
 6.655559218419333,
 6.655559218419333,
 6.655559218419333,
 6.655559218419333,
 6.655559218419333,
 6.655559218419333,
 6.651381149771387,
 6.651381149771387,
 6.64806096660753,
 6.632980041055282,
 6.615695127727934,
 6.615695127727934,
 6.605607488034047,
 6.583254285713229,
 6.583254285713229,
 6.582231269755251,
 6.57749671527729,
 6.57749671527729,
 6.57749671527729,
 6.57749671527729,
 6.57749671527729,
 6.572759001733296,
 6.559411729184551,
 6.559411729184551,
 6.559411729184551,
 6.559411729184551,
 6.559411729184551,
 6.559411729184551,
 6.552424698344627,
 6.552424698344627,
 6.552424698344627,
 6.552424698344627,
 6.552424698344627,

In [21]:
df_crime.head()

,INCIDENT_TYPE,HUNDRED_BLOCK,MONTH,YEAR,FILE_NUMBER,lon,lat,demand_point,distance
0,Break and Enter - Business,11000 124TH ST,1,2020,20-680,-122.878468,49.202197,59152187,1.519689
1,Break and Enter - Business,13900 104TH AVE,1,2020,20-1128,-122.836933,49.191220,59152204,1.724349
2,Break and Enter - Business,11100 SCOTT RD,1,2020,20-1173,-122.877527,49.203288,59152187,2.838619
3,Break and Enter - Business,10500 UNIVERSITY DR,1,2020,20-1191,-122.850623,49.193487,59153386,1.849879
4,Break and Enter - Business,10400 138TH ST,1,2020,20-1298,-122.837520,49.150378,59151980,3.695559

In [23]:
len(set(df_crime['FILE_NUMBER']))

15382

In [30]:
df_crime[df_crime['FILE_NUMBER'].duplicated(keep=False)].sort_values(['FILE_NUMBER'])

,INCIDENT_TYPE,HUNDRED_BLOCK,MONTH,YEAR,FILE_NUMBER,lon,lat,demand_point,distance
135,Break and Enter - Business,17700 58A AVE,1,2020,20-10002,-122.732281,49.108695,59152320,1.567133
376,Theft of Motor Vehicle,17700 58A AVE,1,2020,20-10002,-122.732281,49.108695,59152320,1.567133
1682,Fatal/Injury Collision,16400 64TH AVE,1,2020,20-10036,-122.767865,49.118955,59153742,5.702124
1735,Fatal/Injury Collision,16400 64TH AVE,1,2020,20-10036,-122.767865,49.118955,59153742,5.702124
8945,Theft of Motor Vehicle,10100 141ST ST,7,2020,20-100614,-122.831422,49.186015,59151945,2.306704
...,...,...,...,...,...,...,...,...,...
12376,Graffiti,6560 140 ST,9,2020,23924998,-122.834104,49.122016,59152053,2.616705
12353,Graffiti,16761 61 AVE,9,2020,23931113,-122.759042,49.113493,59153743,1.660210
11353,Graffiti,16761 61 AVE,9,2020,23931113,-122.759042,49.113493,59153743,1.660210
12354,Graffiti,3726 ELGIN RD,9,2020,23937937,-122.824719,49.069723,59152646,6.438609
11354,Graffiti,3726 ELGIN RD,9,2020,23937937,-122.824719,49.069723,59152646,6.438609

In [33]:
df_crime = df_crime.drop_duplicates(subset=['FILE_NUMBER'])

In [34]:
df_crime.to_csv('crime_matched.csv',index=False)